<form [formGroup]="loginForm" (submit)="auth.login(loginForm.value)" class="loginForm">
  <p>
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="E-Mail">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Passwort">
    </mat-form-field>
  </p>

  <button mat-raised-button [disabled]="!loginForm.valid" color="primary">
    <span *ngIf="auth.status==='processing'">
      ...
    </span>
    Login
  </button>
</form>